/* ******* FONT ******* */
h1, h2, h3, h4, h5, p, a, select, label {
    font-family: "Alegreya Sans", sans-serif;
}

body {
    background-color: #f7f4ec;
}

/* Conteneur principal */
.main-container {
    width: 90vw;
    margin: 0 auto;
    padding: 0 10%;
}

.wrapper {
    width: 100%;
    height: 150px;
    z-index: -1;
    background-color: #fff;
    /* margin-top: -10px; */
}

.main-container-nav {
    height: 100px;
    width: 80vw;
    margin: -10px auto;
    background-color: #fff;
}

.nav-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* background-color: aqua; */
    /* height: 60px; */
}

.nav-container h1 {
    margin-top: 5px;
    font-family: "Alegreya Sans", sans-serif;
}

/* Titre du site */
.site-title {
    margin: 0;
    font-size: 2.5rem;
}

.nav-middle-links {
    margin-left: -20px;
}

.second-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    z-index: 1000;
}

.second-nav a{
    color: #333;
    font-family: "Alegreya Sans", sans-serif;
}

.second-nav a:hover{
    color: #000;
    font-family: "Alegreya Sans", sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
    font-family: "Alegreya Sans", sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: "Alegreya Sans", sans-serif;
}

nav ul li a:hover {
    color: #000;
    font-family: "Alegreya Sans", sans-serif;
}

/* nav-right-links */
.nav-right-links {
    display: flex;
    align-items: center;
}

.nav-right-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-family: "Alegreya Sans", sans-serif;
}

.nav-right-links a:hover {
    color: #000;
    font-family: "Alegreya Sans", sans-serif;
}


/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-margin {    
    margin-left: 45%;
}

/* Fixer le footer en bas de page */
body {
/* position: relative; */
  min-height: 100vh; 
}

footer {
  /* position: absolute; */
  /* bottom: -17px; */
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: -8px;

}

.footer-right-links {
  display: flex;
  align-items: center;
}

.footer-right-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
}

.footer-right-links a:hover {
  color: #000;
  font-family: "Alegreya Sans", sans-serif;
}

/* *******PRODUITS******** */
.produit-container {
    margin-top: 50px;
}

.title {
    padding-top: 20px;
}

.card {
    height: 520px;
    width: 30%; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: transform 0.5s ease;
    margin-bottom: 20px;
}

.card-bar {
    height: 500px; 
    width: 30%; 
    /* flex: 0 0 30%; */
    /* background-color: aqua; */
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: transform 0.5s ease;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    background-color: #f7f4eca9;
}

.product-img {
    height: 240px;
    width: 100px;
    margin: 20px auto;
    transition: transform 0.5s ease;
}

.product-img-bar {
    display: flex;
    margin: 20px auto;
    transition: transform 0.5s ease;
}

.card:hover .product-img {
    transform: scale(1.1);
}

.product-name {
    margin: 0 auto;
}

.product-content {
    margin: 10px auto;
}

.margin-product-content {
    margin-bottom: 32px;
}

.product-price {
    font-weight: bold;
    margin: 0 auto;
    font-size: 1.5rem;
}

.product-name-bar {
    margin: 0 auto;
}

.product-content-bar {
    margin: 10px auto;
}

.product-price-bar {
    font-weight: bold;
    margin: 0 auto;
    font-size: 1.5rem;
}

.product-select {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    background-color: white;
    width: 50%; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}

.product-select2 {
    margin: 10px auto;
    padding: 10px;
    /* border: 1px solid #ccc;  */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); 
    border-radius: 20px; 
    background-color: rgb(0, 0, 0);
    width: 50%; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-card {
    margin-top: 30px;
}

.color {
    background-color: #f7f4eca9;
    height: auto;
}

.bestseller {
    width: 92px;
    height: 25px;
    background-color: rgb(245, 225, 210);
    color: rgb(0, 0, 0);
    padding: 5px;
    z-index: 10;
    font-weight: bold;
    font-family: "Alegreya Sans", sans-serif;
    position: absolute;
    /* display: none; */
}

/* *********** REGISTER **********  */
.register-container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 70px auto 0 auto;
    padding: 100px 0;
}

.product-select-register {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    background-color: white;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}

.register-container .form-group {
    margin-bottom: 15px; 
}

.form-control {
    display: block; 
    width: 300px; 
}

.register-title {
    margin-top: -50px;
    margin-bottom: 50px;
}

.panier-title {
    margin: 0 auto;
}

.panier-title-secondary {
    margin: 20px auto;
}


/* ******************** */

.card-center {
    height: auto;
    width: 50%; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: transform 0.5s ease;
    margin: 50px 0 50px 0;
}

.card-panier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 0 30px 20px 30px;
}

.card-panier-info {
    display: flex;
    align-items: center;
}

.card-panier-img {
    width: 50px;
    margin-right: 10px;
}

.panier-product-name {
    font-weight: bold;
    margin: 0;
}

.panier-product-availability {
    color: green;
    margin: 0;
}

.card-panier-quantity {
    display: flex;
    align-items: center;
}

.quantity-modify {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
}

.delete-item {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: 1.2em;
}

.panier-product-price {
    font-size: 1.2em;
    color: #555;
}

.card-right {
    height: 650px;
    width: 30%;
    margin: 50px 0 50px 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 40px;
}

.cart-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.total-price {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.price {
   margin: 0 20px 22px 20px;
}

.price strong {
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
}
















