{% extends 'base.html.twig' %}

{% block title %}Compléments alimentaires pour la performance physique{% endblock %}

{% block body %}

<div class="carousel-container">
    <div class="carousel-slide">
      <img src="img/1.jpg" alt="Image 1">
      <img src="img/2.png" alt="Image 2">
      <img src="img/3.jpg" alt="Image 3">
      {# <img src="img/vegan-protein-chocolate-peanut-flavor_1920x1920.jpg" alt="Image 1" id="firstClone">  #}
    </div>
        <div class="carrousel-text-container">
            <div class="carrousel-main-title">
              <h2>VENTE FLASH D'AVRIL</h2>
            </div>
            <div class="carrousel-secondary-title">
                <h3>Du 25 au 28 avril, profite de 25% sur tous les produits de notre site</h3>
            </div>
        </div>
    <button class="button-carrousel" id="prevBtn">Précédent</button>
    <button class="button-carrousel" id="nextBtn">Suivant</button>
    <a href="#" class="try-now-btn">ESSAYEZ-LE MAINTENANT</a>
</div>
  

{% endblock %}
