{% extends 'base.html.twig' %}

{% block title %}Poduits{% endblock %}

{% block body %}


    <div class="main-container produit-container">
        <h1>Nos produits</h1>

        <div class="card-container">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>

    </div>
    

{% endblock %}
